name = "cosmic-soul-quest"
type = "javascript"
account_id = ""
workers_dev = true
route = ""
zone_id = ""
build = { command = "npm run build", cwd = ".", root_dir = "dist/client" }
compatibility_date = "2024-01-01"
